@import './styles/var';
@import './styles/fonts';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $bg;
    overflow: hidden;

}

main {
    background-color: white;
    max-width: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    h2 {
        margin: 15px 0px 20px 0px;
    }
    .inputs {
        font-family: 'Roboto Regular';
        width: 80%;
        margin: 0px auto 20px auto;
        height: 40px;
        border-radius: 5px;
        border-color: $purple;
        color: $purple;
        &:last-child {
            margin-bottom: 20px;
            background: $light_grey;
        }
        
        &:focus, &:active, &:focus-visible {
            border-color: $purple;
        }
    }
    #questionAmount {
        width: 80%;
        padding: 0px 10px;
    }
    select {
        padding: 10px;
    }
    select > option {
        font-size: 15px;
        color: black;
        font-family: 'Roboto Regular';
    }
    @media (min-width: 320px) and (max-width: 767px) {
        width: fit-content;
    }
}

main.question {
    background: white;
    width: 600px;
    padding: 0px 15px;
    .title-div {
        font-family: 'Roboto Regular';
        font-size: 15px;
    }
    .count-div {
        p {
            border: 5px solid $light_grey;
            font-weight: 700;
            color: $purple;
            font-size: 15px;
            width: 80px;
            margin: 0 auto;
            padding: 10px;
            font-family: 'Roboto Bold';
        }
    }
    .question-div {
        h2 {
            font-family: 'Roboto Regular';
            font-size: 20px;
            margin-bottom: 10px;
        }
        p {
            width: fit-content;
            padding: 5px;
            background: $purple;
            border-radius: 5px;
            margin: 0 auto;
            color: $white;
            font-family: 'Roboto Regular';
            
        }
    }
    .notification {
        p {
            font-family: 'Roboto Bold';
            margin-bottom: 20px;
            margin-top: 10px;
        }
    }
    .answers-div {
        display: flex;
        flex-direction: column;
        button {
            font-family: 'Roboto Regular';
            border-radius: 10px;
            height: fit-content;
            padding: 10px;
            font-size: 15px;
            background-color: $purple;
            color: $white;
            border: none;
            margin-bottom: 10px;
            cursor: pointer;
            box-shadow: 0 4px 0 0 #6c4298;
            transition: $transition;
            &:hover {
                background: $light_grey;
                color: $black;
                border-color: $light_grey;
                box-shadow: 0 4px 0 0 $grey;
            }
            &:active {
                transform: scale(0.97);
            }
        }
        .selected {
            background: $light_grey;
            color: $black;
            border-color: $light_grey;
            box-shadow: 0 4px 0 0 $grey;


        }
    }
    .btn {
        width: 200px;
        margin: 20px auto;
        border-radius: 10px;
        height: 40px;
        background-color: $light_grey;
        outline: none;
        border: 1px solid $light_grey;
        font-family: 'Roboto Bold';
        text-transform: uppercase;
        font-size: 15px;
        cursor: pointer;
        box-shadow: 0 4px 0 0 $grey;
        &:hover {
            background: $dark_grey;
        }
        &:active {
            transform: scale(0.95);
        }
    }
    @media (min-width: 320px) and (max-width: 767px) {
        width: fit-content;
    }
}


main.result {
    p {
        font-family: 'Roboto Bold';
        font-size: 20px;
        margin: 30px 0px;
    }
    .btn-again {
        margin-right: 20px;
    }
    .accordion-div {
        .accordion-btn {
            background-color: #eee;
            color: #444;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            border: none;
            border-radius: 5px;
            font-family: 'Roboto Bold';
            text-align: left;
            outline: none;
            font-size: 15px;
            transition: 0.4s;
          }
          
          .active, .accordion-btn:hover {
            background-color: #ccc;
          }
          
          .accordion-btn:after {
            content: '\002B';
            color: #777;
            font-weight: bold;
            float: right;
            margin-left: 5px;
          }
          
          .active:after {
            content: "\2212";
          }
          
          .panel {
            padding: 0 18px;
            background-color: white;
            max-height: 0;
            overflow-y: scroll;
            transition: max-height 0.2s ease-out;
            margin-bottom: 20px;
            p {
                font-family: "Roboto Bold";
                font-size: 20px;
                margin: 30px 0px;
                text-align: left;
                &.true {
                    color: green;
                } 
                &.false {
                    color: red;
                }
            }
          }
    }
    @media (min-width: 320px) and (max-width: 767px) {
        width: fit-content;
        .btn-again {
            margin: 0px;
        }
    }
}


.popup-div {
    background: $popup_bg;
    padding: 20px 50px 20px 25px;
    min-width: fit-content;
    position: absolute;
    right: 0px;
    top: 10px;
    border-radius: 5px;
    overflow: hidden;
    border-left: 10px solid $popup_left;
    text-align: center;
    display: none;
    &.show {
        display: block;
        animation: show_slide 1s ease forwards;
    }
    span {
        &:first-child {
            padding: 0px 20px 0px 0px;
            font-size: 18px;
            color: $popup_text;
            font-family: 'Roboto Bold';
        }
        &:last-child{
            position: absolute;
            right: 0px;
            top: 50%;
            transform: translateY(-50%);
            font-size: 35px;
            line-height: 40px;
            background: $popup_btn;
            padding: 20px 18px;
            font-weight: 900;
            cursor: pointer;
            &:hover {
                background: $popup_hover;
            }
        }
    }
}