@import './styles/var';
@import './styles/fonts';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $bg;

}

main {
    background-color: white;
    max-width: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    h2 {
        margin: 15px 0px;
    }
    .inputs {
        font-family: 'Roboto Regular';
        width: 80%;
        margin: 20px auto 0px auto;
        height: 40px;
        border-radius: 5px;
        border-color: $purple;
        color: $purple;
        &:last-child {
            margin-bottom: 20px;
            background: $light_grey;
        }
        
        &:focus, &:active, &:focus-visible {
            border-color: $purple;
        }
    }
    #number {
        width: 78%;
        padding: 0px 10px;
    }
    select {
        padding: 10px;
    }
    select > option {
        font-size: 15px;
        color: black;
        font-family: 'Roboto Regular';
    }
    @media (min-width: 320px) and (max-width: 767px) {
        width: fit-content;
    }
}

main.question {
    background: white;
    width: 600px;
    padding: 0px 15px;
    .title-div {
        font-family: 'Roboto Regular';
        font-size: 15px;
    }
    .count-div {
        p {
            border: 5px solid $light_grey;
            font-weight: 700;
            color: $purple;
            font-size: 15px;
            width: 80px;
            margin: 0 auto;
            padding: 10px;
            font-family: 'Roboto Bold';
        }
    }
    .question-div {
        h2 {
            font-family: 'Roboto Regular';
            font-size: 20px;
            margin-bottom: 10px;
        }
        p {
            width: fit-content;
            padding: 5px;
            background: $purple;
            border-radius: 5px;
            margin: 0 auto;
            color: $white;
            font-family: 'Roboto Regular';
            
        }
    }
    .notification {
        p {
            font-family: 'Roboto Bold';
            margin-bottom: 20px;
            margin-top: 10px;
        }
    }
    .answers-div {
        display: flex;
        flex-direction: column;
        button {
            font-family: 'Roboto Regular';
            border-radius: 10px;
            height: fit-content;
            padding: 10px;
            font-size: 15px;
            background-color: $purple;
            color: $white;
            border: none;
            margin-bottom: 10px;
            cursor: pointer;
            box-shadow: 0 4px 0 0 #6c4298;
            transition: $transition;
            &:hover {
                background: $light_grey;
                color: $black;
                border-color: $light_grey;
                box-shadow: 0 4px 0 0 $grey;
            }
            &:active {
                transform: scale(0.97);
            }
        }
        .selected {
            background: $light_grey;
            color: $black;
            border-color: $light_grey;
            box-shadow: 0 4px 0 0 $grey;


        }
    }
    .btn {
        width: 200px;
        margin: 20px auto;
        border-radius: 10px;
        height: 40px;
        background-color: $light_grey;
        outline: none;
        border: 1px solid $light_grey;
        font-family: 'Roboto Bold';
        text-transform: uppercase;
        font-size: 15px;
        cursor: pointer;
        box-shadow: 0 4px 0 0 $grey;
        &:hover {
            background: $dark_grey;
        }
        &:active {
            transform: scale(0.95);
        }
    }
    @media (min-width: 320px) and (max-width: 767px) {
        width: fit-content;
    }
}


main.result {
    p {
        &:nth-child(odd) {
            font-family: 'Roboto Bold';
            font-size: 20px;
            margin: 30px 0px;
        }
        font-family: 'Roboto Regular';   
    }
    .btn-again {
        margin-right: 20px;
    }
    @media (min-width: 320px) and (max-width: 767px) {
        width: fit-content;
        .btn-again {
            margin: 0px;
        }
    }
}
